
/*GLOBAL*/

* {
box-sizing: border-box;
}

body{
margin: 0;
font-size: 16px;
font-family: sans-serif;
line-height: 1.43; 
}


p + p {
margin-bottom: 30px;
}

p {
  color: #86878b;
  margin-bottom: 12%;
}

h1{
font-size: 29px;
margin: 0;
line-height: 1.2;
}

h2{
font-size: 20px; 
}

.section:nth-child(odd) {
background: #f5f5f5;
}

.section:nth-child(even) {
background: #fff;  
}

/*HEADER*/

.header{
height: 70px;
background: #000000;
position: relative;
line-height: 70px;
padding: 0 30px;
color: #ffffff;
}


.logo{
font-size: 24px;
line-height: 70px;
float: left;
text-transform: uppercase;
}

.header .content{
padding: 0;
}

.socialmedia .content{
  padding: 20px 0;
}

.socialmedia-text{
  text-align:left;
}

.socialmedia-text h2{
 margin-top: 0;
}

.socialmedia-text p {
    margin-bottom: 0;
}
.socialmedia {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.38);
    position: relative;
}

.menu {
  float: right; 
}
.menu-itm {
   float: left; 
  padding: 0 10px
}

.menu-itm:hover {
  background: #8d8a88;
  color: #ffe;
}

.menu-itm:active {
  color: #5e4a33;
}


/*BANNER*/


.banner,
.footer {
background: #35353E;
color: #fff;
text-align: center;
}

.banner{
  background-image: url("http://content.screencast.com/users/bullsh1tguru/folders/Default/media/b4df5359-cc60-4acf-ba6a-a7157f93248d/Axit-PSD_02.gif");
      background-size: cover;
}


.banner [class^="col-"],
.products [class^="col-"]
{ 
display: table-cell; 
vertical-align: bottom; 
float: none; 
text-align: left;
}

.products{
  text-align: center;
}

.products [class^="col-"] {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.products [class^="col-"]:first-of-type,
.contact-form [class^="col-"]:first-of-type{
padding-left: 0;
}

.products [class^="col-"]:last-of-type,
.contact-form [class^="col-"]:last-of-type
{
padding-right: 0;
}


.socialmedia [class^="col-"] {
  vertical-align: middle;
  display: table-cell;
  float: none;
  width: 52%;

}

.banner .content,
.socialmedia .content,
.data .content,
.products{
display: table;
  
}

.products{
width: 100%;
}

sub{
    font-size: 0.5em;
    vertical-align: baseline;
  margin-right: 0.05em
}

.content{
  padding: 125px 0 139px 0;
  width: 1100px;
  margin: 0 auto;
}

.content:after {
clear: both;
content: "";
display: table;
}

.section {
    text-align: center;
}


.banner-copy{
width: 456px;
}


.cta-box{
  width: 59%;
  background: #fff;
  float: right;
}

.cta-box-content{
height: 255px;
padding: 30px 45px;
}

.cta-box-head{
background: #f5f5f5;
line-height: 55px;
}

.cta-box-head h2 {
  margin: 0;
}

.cta-box-btn .button {
width: 100%;
height: 55px;
margin-top: 0;
line-height: 55px;
border: none;
border-radius: 0;
font-size: 16px;
}

.cta-box-head span{
color: #ff9b51;
text-transform: uppercase;
}


.cta-box-head h2{
text-align: center;
color: #111;
}



h1.section-name:after{
content: "";
display: block;
height: 2px; 
width: 64px;
background: #ffffff; 
margin-top: 40px;  
margin-bottom: 40px;
}

h2.section-name:after{
  content: "";
  display: block;
  height: 2px; 
  width: 64px;
  background:orange ; 
  margin-top: 40px;  
  margin-bottom: 40px;
  }
  

.section h1.section-name {
color: #000;
}

.section h1.section-name:after {
background: #ff9b51;
margin-left: auto;
margin-right: auto;
}

.content-small{
padding: 53px 0;

}


.content-small h1.section-name:after,
.content-small .cta-btn{
  margin-left: auto;
margin-right: auto;
}



/*axit*/

.axit{
margin-bottom: 35px;
text-transform: uppercase;
font-size: 60px;
}


.ax {
font-weight:bold;
}
.it {
color: #ff9b51;
 }


.cta-btn{
border: 2px solid #f5f5f5;
background: transparent;
line-height: 38px;
width: 136px;
height: 42px;
text-align: center;
margin-top: 35px;
}

.cta-btn:hover {
background: #8d8a88;
color: #ffe;
}
.cta-btn:active {
color: #5e4a33;
}


/*SOCIALMEDIA*/

.social-btn{
width: 14.28%;
float: left;
vertical-align: middle;
text-align: center;
font-size: 24px;
}

/*INFO*/

.infotext{
  width: 70%;
  float: left;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.pic{
  margin-top: 3%;
  width: 30%;
  float: right;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
  height: 130px;
  background: url(http://content.screencast.com/users/khalinadarina/folders/Default/media/bd6cd8f8-4e5d-4880-b14d-dcecd87dfc88/download.png);
}

.infotable {
  width: 15%;
  height: 100%;
  float: left;
}


.infocontent{
  width: 70%;
  height: 100%;
  margin-left: 24%;
  text-align: left;
  margin-top: 4%;
}


.infocontent p{
font-size: 14px;
}

.button{
background: #ff9b51;
line-height: 44px;
width: 120px;
height: 44px;
text-align: center;
margin-top: 52px;
border-radius: 4px;
color: #ffffff;
}

.button:hover {
background: #8d8a88;
color: #ffe;
}

.button:active {
color: #5e4a33;
}

.cell {
width: 110px;
height: 110px; 
background: #333333;
text-align: center;
line-height: 110px;
margin-bottom: 1px;
color: #ffffff;
}
.cell:first-child {
background: #ff9b51;
}

.cell:hover {
background: #8d8a88;
color: #ffe;
}

.cell:active {
color: #5e4a33;
}

/*DATA*/



.data-text {
  float: left;
  width: 322px;
}

.data,
.social {
text-align: center;
}

.data h3,
.data h2{
margin-top: 0;
}

.pic-data {
  
  float: left;
  width: 41%;
  height: 303px;
  background: url(http://content.screencast.com/users/khalinadarina/folders/Default/media/bd6cd8f8-4e5d-4880-b14d-dcecd87dfc88/download.png) no-repeat -337px -5px;
  box-shadow: 0px 22px 30px 0px rgba(204, 204, 204, 0.48);

}

.sub-list {
  display: inline-block;
  width: 35%;
  text-align: left
}
hr.sub-list{
  color: #ff9b51;
  size: 0em;
}
.data h1.section-name:after{
background:  #ff9b51; 
margin-top: 30px;  
margin-bottom: 30px;
}


.data-img {
  float: left;
  margin-right: 8%;
  
}

.dataimgtext:nth-of-type(1) .data-img{
  background-position: -5px -5px;  
}

.dataimgtext:nth-of-type(2) .data-img{
  background-position: -55px -5px;  
}


.data-item {
 
  float: left;
  width: 425px;
  text-align: left;
}

/*BLOCK*/

.block,
.category,
.footer,
.contact,
.block .col-4,
.category .col-4 {
text-align: center;
}


.block .section-name,
.category .section-name{
text-transform: uppercase;
}

/*category*/



.price {
background: #35353E;
    color: #fff;
    font-size: 70px;
    line-height: 1.65;
    font-weight: bold;
  font-family: georgia;
}

.price:after{
  background: #ff9b51;
    height: 5px;
  display: block;
  content: "";
}

.products [class^="col-"]:nth-of-type(2) .price:after{
  display: none;
}

.price-desription {
    font-size: 13px;
    color: #ccc;
    font-family: sans-serif;
    font-style: italic;
    padding-bottom: 30px;
}

.p-banner {
background: #35353E;
color: #fff;
margin-bottom: 1px;
padding: 20px 0;
}

.p-module {
background: #ff9b51;
color: #fff;
text-transform: uppercase;
padding: 15px 0;
}

.p-line {
background: #ff9b51;
height: 5px;
}

.p-table {
text-transform: uppercase;
padding: 15px 0;
background: #fff;
color: #86878b;
margin-bottom: 1px;
}



.c-section [class^="col-"]{
  padding-left: 30px;
    padding-right: 30px;
  
}

.description {
background: #f5f5f5;
padding: 27px 13px;
text-align: left;
margin-left: 0;
  width: 270px;
  position: relative;
}

.description:after{
width: 0;
height: 0;
border-style: solid;
border-width: 15px 10px 0 10px;
border-color: #f5f5f5 transparent transparent transparent;
position: absolute;
bottom: -14px;
left:  25px;
  content: "";
  display: table;
}


.user {
    text-align: left;
    margin-top: 25px;
    display: table;
}

.user-name, .user-img {
    display: table-cell;
    vertical-align: middle;
}
.user-img {
  border-radius: 100%;
background:url("http://content.screencast.com/users/khalinadarina/folders/Default/media/bd6cd8f8-4e5d-4880-b14d-dcecd87dfc88/download.png");
background-repeat: no-repeat;
width: 74px;
height: 74px;
background-position: -1262px -245px;
}


.name {
    font-size: 20px;
    margin: 0;
    margin-left: 18px;
    font-weight: bold;
    color: #000;
}

.title {
    margin: 0;
    margin-left: 18px;
}


.c-section [class^="col-"] {
    padding-left: 30px;
    padding-right: 30px;
    float: none;
    display: table-cell;
}

.c-section {
    padding: 0 27px;
    display: table;
}

/*footer*/

.footer {
padding: 75px 0 63px 0;
}

h1.section-name {
text-transform: uppercase;
}

.footer .download{
margin-top: 38px;
margin: 0 auto;
}

/* contact */

.contact-info {
background: #fff;
}



.contact-info {
text-align: left;
}

.contact-info:first-chid {
padding-right: 140px;
}

.contact-info:last-child {
padding-left: 140px;
}

.contact .button {
width: 145px;
margin-top: 40px;
float: left;
}

/* social */

.social{
background: #000000;
padding: 20px 0 14px 0;
color: #ffffff;
}

.social p{
  margin-bottom: 0;
}

.social .social-btn {
display: inline-block;
float: none;
width: 50px;
color: #86878b;
}


/*******/

/*CONTAC FORM*/
.contactt{
  width: 100%;
  padding: 100px 7%;
  text-align: center;
}
.contact-text h1{
  font-size: 30px;
  font-weight: normal;
  position: relative;
  margin-bottom: 50px;
}
.contact-text h1::after{
  content: "";
  position:absolute;
  height: 2px; 
  width: 70px;
  background:#ff9b51 ; 
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.contact-text{
  margin-bottom: 50px;
}
.form-details{
  background: transparent;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 0 70px;
}
.form-details .details input{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  color: gray;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-top: 40px;
  background: transparent;
}
.form-details .details input::placeholder{
  color: lightgrey;
}
.form-msg textarea{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: gray;
  padding-top: 50px;
  background-color: transparent;
}
.form-msg textarea::placeholder{
  color: lightgrey;
}
.form-details{
  margin-bottom: 30px;
}
.contactt button{
  background-color: #ff9b51;
  font-size: 15px;
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  cursor: pointer;
  user-select: none;
}




/*input 
http://htmlbook.ru/html/input
*/


.cta-box-content input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    height: 35px;
    vertical-align: bottom;
    margin-bottom: 25px;

}


.cta-box-content input:focus
{
outline: none;
border-bottom: 2px solid ;
}


.banner-small {
background:url("http://content.screencast.com/users/khalinadarina/folders/Default/media/02ea1089-c19b-4628-8a94-1e8985a21026/Axit-PSD_28.gif");
background-size: cover;
}

.b-img {
width: 70px;
height: 70px;
background: #ff9b51; 
margin: 0 auto;
background:url("http://content.screencast.com/users/khalinadarina/folders/Default/media/bd6cd8f8-4e5d-4880-b14d-dcecd87dfc88/download.png") no-repeat -1262px -5px;
width: 74px;
height: 74px;
border: #ccc;
border-radius: 100%;
}

.img2{
width: 74px;
height: 74px;
background-position: -1262px -85px;
}

.img3{
width: 74px;
height: 74px;
background-position: -1262px -165px;
}

.pic-data2 {
  float: right;
  width: 452px;
  height: 301px;
  background-position: -800px -5px;}

.row{
  display: -ms-flexbox;
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4{
  -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
}
