* {
    padding               : 0px;
    margin                : 0px;
    box-sizing            : border-box;
    font-family           : sans-serif;
  }

  a {
    text-decoration       : none;
    color                 : black;
  }
  
  li{
    list-style            : none;
  }
  html{
    scroll-behavior: smooth;
  }
.container {
    width                 : 80%;
    margin-left           : auto;
    margin-right          : auto;
}
.bg-img{
   background-size: 80% 80% ;
    height: 80vh;
    background-image: url(../images/pexels-pixabay-38555.jpg);
 
   
    color: rgb(255, 255, 255);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item{
    border: none;
    background-color: transparent;
    color: lightgray;
}
.nav-bar{
    width:100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    align-items: end;
    line-height: 41px;
}
.logo{
   font-style: normal;
    font-weight: bold;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.cards{
display: flex;
justify-content: space-around;
margin-bottom: 4px;
align-items: end;
margin-top: 35%;
}
.card{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards .card p{
    color: lightgrey;
}

.cards .card h2{
    margin-right: 1%;
    color: lightgrey;
    line-height: 46px;
    width: 21%;
    height: 49px;
    border: 4px solid lightgrey;
    border-radius: 54%;
}
.container {
    width                 : 80%;
    margin-left           : auto;
    margin-right          : auto;
}

.dis-f{
    display               : flex;
}

.just-center{
    align-items           : center;
}

.align-center{
    align-self            : center;
}

.center-text{
    text-align            : center;
}

.xLarge {
    font-size             : x-large;
  }
  
  .xxxLarge {
    font-size             : xxx-large;
  }
  
  .large {
    font-size             : large;
  }
  
  .smaller {
    font-size             : smaller;
  }

  .bold {
    font-weight           : 800;
  }

  .bold2{
    font-weight           : 700;
  }

.overlay {
    background-color      : #0000008f;
}

.overlay{
    position              : absolute;
    top                   : 0;
    height                : 100%;
    background-color      : #0000008f;
    width                 : 100%;
}

.column-f{
    flex-direction        : column;
}

.justify-center{
    justify-content       : center;
}

.start-it-f{
    align-items: flex-start;
}

.space-around{
    justify-content       : space-around;
}

.space-f{
    justify-content       : space-between;
}

.space-ev{
    justify-content       : space-evenly;
}

.white{
    color                 : white;
}

.light-white{
    color: #ffffff73;
}

.light-white:hover{
    color: white;
}

.bg-dark{
    background-color      : #000;
}

.upper{
    text-transform        : uppercase;
}

.xxxLarge {
    font-size             : xxx-large;
  }

.width-30{
    width                 : 30%;
}

.padding-top-bot-2{
    padding-top           : 2%;
    padding-bottom        : 2%;
}

.padding-top-bot-5{
    padding-top           : 5%;
    padding-bottom        : 5%;
}

.padding-bot-5{
    padding-bottom        : 5%;
}

.marg4Top{
    margin-top            : 4%;
}

.margin-bot-4{
    margin-bottom         : 4%;
}

.light-grey-underline{
    border-bottom         : 2px lightgray solid;
  }
  
  .pos-relativ{
    position              : relative;;
  }

.block{
    display               : block;
}

.large{
    font-size             : large;
}

.width-100{
    width                 : 100%;
}

.width70{
    width: 70%;
}

.width50{
    width: 50%;
}



.width-65{
    width: 65%;
}

.width-75{
    width: 75%;
}

.width27{
    width: 27%;
}

.h-650px{
    height: 600px;
}

.select{
    background-color      : transparent;
    border                : none;
    color                 : white;
    font-weight           : 800;
    font-size             : initial;
}

.light{
    font-weight: 100 !important
}
/* Custom Style */


.white-underline{
    border-bottom         : 2px white solid;
}

.nav-pad{
    padding               : 4% 0% 2% 0%
}




.right{
    border-left           : 2px lightgray solid ;
}

div img{
    width                 : 100%;
}

.info{
    padding               : 3% 19% 5% 10%;
    box-shadow            : 0px 0px 5px 5px lightgray;
}

.info2{
    padding               : 3% 15% 5% 10%;
    box-shadow            : 0px 0px 5px 5px lightgray;
}

.margin-top-2{
    margin-top            : 2%;
}

.margin-bot-2{
    margin-bottom         : 2%;
}

.margin-bot-6{
    margin-bottom         : 6%;
}

.margin-top-2{
    margin-top            : 6%;
}

.padding-Left-7{
    padding-left          : 7%;
}

.padding7TB{
    padding-top           : 7%;
    padding-bottom        : 7%;
}

.defColor {
    color                 : #636363;
  }

.grey-shadow{
    box-shadow            : 0px 0px 5px 5px lightgray;
}


.blue-on-hover:hover{
    border-bottom         : 2px rgb(0, 255, 234) solid;
    color                 : black;
}

.btn{
    padding               : 2% 0%;
    border-radius         : 50%;
    font-size             : larger;
    width                 : 15%;
    background-color      : transparent;
    color                 : #63636375;
    border-color          : #63636375;
    border-style          : solid;
    cursor                : pointer;
}

.btn:hover{
    border-color          : #636363;
    color                 : #636363;
}

.iconColor {
    display               : flex;
    justify-content       : center;
    align-items           : center;
    width                 : 50px;
    height                : 50px;
    border-radius         : 50%;
    background-color      : white;
    box-shadow            : 0 0 10px rgba(0, 0, 0, 0.1);
    transition            : background-color 0.3s, color 0.3s;
}

.iconColor i {
    font-size             : 24px;
}

.iconColor:hover {
    background-color      : #f0f0f0;
    color                 : #000;
}

.travel-Btn{
    border                : none;
    padding               : 1% 2%;
    position              : absolute;
    top                   : 20px;
    left                  : 30px;
    background-color      : white;
    color                 : rgb(0, 255, 217);
    transition            : 1s;
}

.travel-Btn:hover{
    background-color      : rgb(0, 255, 242);
    color                 : white;
    cursor                : pointer;
}

.abs-par{
    font-size             : larger;
    position              : absolute;
    text-align            : center;
    top                   : 40%;
    background-color      : transparent;
    padding               : 0% 2%;
}

.loadMore{
    background-color      : transparent;
    padding               : 1% 2%;
    border-radius         : 40px;
    border                : 2px #00000061 solid;
    cursor                : pointer;
}

.loadMore:hover{
    border-color          : #636363;
    color                 : #636363;
    transform: scale(1.1);
}

.playIcon{
    position              : absolute;
    display               : flex;
    justify-content       : center;
    align-items           : center;
    top                   : 20%;
    left                  : 40%;
    height                : 50px;
    width                 : 50px;
    border-radius         : 50%;
    background-color      : white;
    box-shadow            : 0 0 10px rgba(0, 0, 0, 0.1);
    transition            : background-color 0.3s, color 0.3s;
}

.playIcon:hover {
    background-color      : black;
    color                 : white;
    cursor                : pointer;
}

.email{
    background-color: transparent;
    width: 80%;
    display: inline-block;
    padding: 2% 1%;
    border: none;
}

.arrow{
    color: white;
    font-size: larger;
    float: right;
    border: none;
}

.arrow:hover{
    border-radius: 50%;
    color: black;
    background-color: white;
    cursor: pointer;
}

.Go-Top{
    position: fixed;
    border: none;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: larger;
    transition: 0.5s;
}

.R-btn:hover{
    cursor: pointer;
    background-color: lightgray;
    color: black;
    transform: scale(1.2);
}

.R-btn{
    background: black;
    color: white;
    border-radius: 50%;
    border: none;
    float: right;
}

.padding-small-card{
    padding: 5% 5% 5% 0%;
}

.padding-252{
    padding: 2% 5% 2% 0%;
}